/* :root{
  --text: #0d0813;
  --background: #faf8fd;
  --primary: #8345cc;
  --secondary: #b68ce6;
  --accent: #9d5fe6;
} */

:root{
  --text: oklch(14.76% 0.025 304.73);
  --background: oklch(98.21% 0.007 304.24);
  --primary: oklch(53.53% 0.200 300.91);
  --secondary: oklch(71.41% 0.134 304.71);
  --accent: oklch(61.69% 0.198 302.07);
}

body{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
}

.editor-container {
  height: 600px;
  border: 1px solid #ddd;
  background-color: antiquewhite;
  grid-column: 2;
  grid-row: 1;
}

#editor {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}



#ai-chat-container {
  height: 600px;
  background-color: lightblue;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 10fr 1fr 1fr;
  justify-content: center;
}

#ai-chat-container-bottom {
  grid-row: 3;
  display: flex;
  align-items: center;
}

#chat-ai-button {
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#ai-chat-input{
  width: 160px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#model-select{
  grid-row: 2;
}

select{
  height: 25px;
}

/*--- Messages --*/
#message-container {
  height: 500px;
  overflow-y: auto;
}

#user-message{
  background-color: blue;
  font-size: 20px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

#ai-message{
  background-color: red;
  font-size: 20px;
  width: 100px;
  height: 100px;
  z-index: 2;
}